syntax: glob
# Ignore Visual Studio files
/.vs
/.git
*.zip
*.rar
*.orig
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.nupkg
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vssscc
.builds
*.pidb
*.svclog
[Bb]in
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
[Pp]ackages/
[Ll]ogging/